.background {
  height: 100vh;
  background-image: url('../assets/img/background/collage2.jpg');
  background-size: cover;
}



@media only screen and (max-width: 640px) {
  .btn-add {
    display: none;
  }
}
