.nav {
  padding: 0 3rem;
  background: none;
  position: absolute;
  z-index: 50;
}

.colorBg {
  background:  #10173a;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  // position: absolute;
  // z-index: 30;
  width: 100%;
}

.logo,
.navbar {
  height: 60px;
}
.logo {
  line-height: 6rem;
  display: flex;
  align-items: center;
}

.navbar {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white
}
.nav-links a {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
button {
  margin-left: 20px;
}

.user-img {
  cursor: pointer;
  width: 30px;
  margin-left: 20px;
  border-radius: 50%;
}
