.topNav {
  padding: 0 3rem;
  background: #10173a;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 50;
  display: block;
  width: 100%;
}

.mobile-search-bar {
  display: none;
}

.logo,
.navbar {
  height: 60px;
}
.logo {
  line-height: 6rem;
  display: flex;
  align-items: center;
}

.navbar {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav-links a {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
button {
  margin-left: 20px;
}

.user-img {
  cursor: pointer;
  width: 30px;
  margin-left: 20px;
  border-radius: 50%;
}

.search-field {
  width: 50%;
  // min-width: 14rem;
  max-width: 40rem;
  padding-top: 12px;
}
.logo {
  height: 44px;
}
@media only screen and (max-width: 640px) {
  .topNav {
    display: none;
  }
  .mobile-search-bar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: #10173a;
    display: flex;
    align-items: center;
  }
  .search-bar {
    margin: 0 auto;
  }
}
