.post-preview {
  list-style-type: none;
  // min-width:300px;
  cursor: pointer;
}


.post-info {
  background: #fff;
}


.liked{
  color:red
}

.highlight{ 
background-color: yellow;
}

span.tag{
  background: rgb(221, 221, 230);
  border-radius: 6px;
  padding: 0.2rem 0.8rem;
  margin-bottom: 12px;
}