.post-preview {
  list-style-type: none;
  // min-width:300px;
  cursor: pointer;
}


.post-info {
  background: #fff;
}


.liked{
  color:red
}

.highlight{ 
background-color: yellow;
}

.drop-menu{
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  background: #fff;
}