.v-content {
  background: #f2f2f2;
}
a {
  text-decoration: none;
}

.card {
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.slide-fade-enter-active, .slide-fade {
  transition: all .5s;
}