.short-input {
  width: 340px;
}
.med-input {
//   width: 70%;
  max-width: 750px;
  margin: 0 auto,
}
.input-comment {
  height: 4rem;
  width: 90%;
  font-size: 1.1rem;
  outline: none;
}



.image-containerP{
    position: absolute;
    top:0;
    width: 100%
}