.short-input {
  width: 340px;
}
.med-input {
  max-width: 750px;
  margin: 0 auto;
}
.input-comment {
  height: 4rem;
  font-size: 1.2rem;
  outline: none;
}

// .image-containerP {
//   position: absolute;
//   top: 0;
//   width: 100%;
// }

.v-input__slot {
  min-height: 32px !important;
}


