html {
  background: #fff;
}
.theme--light.application {
  background: #fff;
}

.main-container {
  background-color: #f2f2f2;
  max-width: 1460px;
  margin: 0 auto;
  padding: 90px 3rem;
}

@media only screen and (max-width: 640px) {
  .main-container {
    padding: 1rem 0;
  }
}
