.notifications {
  width: 20rem;
  padding: 0.8rem;
  height: 5rem;
  border-radius:3px; 
  margin-bottom: 3rem;
  left:50%;
  transform: translateX(-5rem) ;

  .notification-title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
  }

  .notification-content {
    font-size: 1.1rem;
    font-weight: 300;
    color: #ffffff;
  }

  &.warn {
    border-left: 5px solid rgb(214, 139, 0);
    background: rgb(255, 179, 38);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  }

  &.error {
    border-left: 5px solid rgb(100, 0, 5);
    background: rgb(200, 25, 63);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  }

  &.success {
    background: #68cd86;
    border-left-color: #42a85f;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);

  }
}
