$text-dark: #333346;
$text-grey: #94989e;
$hover-color: rgb(0, 156, 228);
$primary-gradiant: linear-gradient(to right, #f27121, #e94057, #8a2387);
$appOrange: #f27121;
$chips-color: rgb(89, 159, 250);
$primary-btn: linear-gradient(to right, #f27121, #e94057);
$primary-btn-hover: linear-gradient(
  to right,
  rgb(221, 92, 11),
  rgb(197, 27, 50)
);


