/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-share-2: unicode(ea03);
$icon-love-it-circle-2: unicode(ea05);
$icon-time-clock-circle-alternate: unicode(ea06);

.icon-share-2::before {
  content: $icon-share-2;
}

.icon-love-it-circle-2::before {
  content: $icon-love-it-circle-2;
}

.icon-time-clock-circle-alternate::before {
  content: $icon-time-clock-circle-alternate;
}

